<%= form_for @inventory_model, html: {class: 'form-horizontal'} do |f| %>
  <%= f.error_messages %>
  <div class="control-group">
    <%= f.label :title, "#{t('inventory_models.attrs.title')}:", class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, class: 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, "#{t('inventory_models.attrs.description')}:", class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, class: 'text_area' %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit t('helpers.links.ok'), class: 'btn btn-primary' %>
    <%= link_to t('helpers.links.cancel'), :back, class: 'btn' %>
  </div>
<% end %>
