<div class="page-header">
  <h3><%=t '.title' %></h3>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th><%= sortable :title, t('inventory_models.attrs.title') %></th>
      <th><%= sortable :description, t('inventory_models.attrs.description') %></th>
    </tr>
  </thead>
  <tbody>
    <%= render(partial: 'inventory_model', collection: @inventory_models) || render('shared/empty', colspan: 2) %>
  </tbody>
</table>

<%= will_paginate(@inventory_models) -%>

<%= link_to t('helpers.links.new'), new_inventory_model_path, class: 'btn btn-primary' %>
