<div class="page-header">
  <h3><%=t '.title' %></h3>
</div>
<div class="form-horizontal">
  <div class="control-group">
    <div class='control-label'><%= t('inventory_models.attrs.title') %>:</div>
    <div class="controls">
      <span><%= @inventory_model.title %></span>
    </div>
  </div>
    <div class="control-group">
      <div class='control-label'><%= t('inventory_models.attrs.description') %>:</div>
      <div class="controls">
        <span><%= @inventory_model.description %></span>
      </div>
    </div>
    <div class="form-actions">
      <%= link_to t('helpers.links.index'), inventory_models_path(params: session[:index_params]), class: 'btn' %>
      <%= link_to t('helpers.links.edit'), edit_inventory_model_path(@inventory_model), class: 'btn' %>
      <%= link_to t('helpers.links.destroy'), inventory_model_path(@inventory_model), method: 'delete',
                  data: {confirm: t('helpers.confirmations.destroy')},
                  class: 'btn btn-danger' %>
    </div>
</div>

