<div class="page-header">
  <h3><%= t('.title') %></h3>
</div>
<%= form_tag consumption_reports_path, method: 'get', class: 'form-inline' do %>
    <%= t('.warehouse') %>:
    <%= select_tag :warehouse_id, options_from_collection_for_select(Warehouse.order(:title), :id, :title, (@report[:warehouse].id if @report[:warehouse])),
                   {include_blank: true} %>
    &nbsp;
    <%= t('.period') %>
    <%= t('.period_first') %>
    <%= text_field_tag :date_from, @report[:period].first, class: 'input-medium', type: 'date' %>
    <%= t('.period_last') %>
    <%= text_field_tag :date_to, @report[:period].last, class: 'input-medium', type: 'date' %>
    &nbsp;
    <button class='btn'>
      <i class='icon-search'></i>
      Найти
    </button>
    <% if @report[:period] && @report[:warehouse] %>
        <%= link_to fmu76_consumption_reports_path(date_from: @report[:period].first,
                                                   date_to: @report[:period].last,
                                                   warehouse_id: @report[:warehouse].id,
                                                   format: :xml), class: 'btn pull-right' do %>
            <i class='icon-file'></i>
            <%= t('.fmu76') %>
        <% end %>
    <% end %>
<% end %>

<table class="table table-condensed">
  <thead>
  <tr>
    <th><%= Sku.model_name.human %></th>
    <th>Остаток начальный</th>
    <th>
      Принято
      <%= link_to inventory_operations_path(
                    warehouse_id: (@warehouse.id if @warehouse),
                    type: ReceiveInventory.model_name,
                    date_from: @date_from,
                    date_to: @date_to
                  ), 'title' => 'Операции', target: '_blank' do %>
        <i class="icon-table"></i>
      <% end %>
    </th>
    <th>
      Списано
      <%= link_to inventory_operations_path(
                    warehouse_id: (@warehouse.id if @warehouse),
                    type: WriteOffInventory.model_name,
                    date_from: @date_from,
                    date_to: @date_to
                  ), 'title' => 'Операции', target: '_blank' do %>
        <i class="icon-table"></i>
      <% end %>
    </th>
    <th>Остаток</th>
  </tr>
  </thead>
  <tbody>
  <% if !@report[:items] || @report[:items].empty? %>
      <%= render('shared/empty', colspan: 5) %>
  <% else %>
      <% @report[:items].each do |report_item| %>
          <tr>
            <td><%= report_item[:sku] %></td>
            <td><%= report_item[:start_balance] %></td>
            <td><%= report_item[:credit_amount] %></td>
            <td><%= report_item[:debit_amount] %></td>
            <td><%= report_item[:end_balance] %></td>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>

