<%- model_class = Inventory -%>
<div class="page-header">
  <h3><%= t '.title', default: model_class.model_name.human(count: 2) %></h3>
</div>
<%= form_tag inventories_path, method: 'get', class: 'form-inline' do %>
    <%= t('.warehouse') %>:
    <%= select_tag :warehouse_id, options_from_collection_for_select(Warehouse.order(:title), :id, :title, (@warehouse.id if @warehouse)),
                   {include_blank: true} %>
    &nbsp;
    <button class='btn'>
      <i class='icon-search'></i>
      Найти
    </button>
<% end %>
<table class="table table-hover">
<thead>
<tr>
  <th><%= model_class.human_attribute_name('sku_id') %></th>
  <th><%= model_class.human_attribute_name('amount')  %></th>
  <th><%= model_class.human_attribute_name('holdings_total_amount')  %></th>
  <th><%= model_class.human_attribute_name('available_amount')  %></th>
</tr>
</thead>
<tbody>
    <% if @inventories.empty? %>
        <%= render 'shared/empty', colspan: 4 %>
    <% else %>
    <% @inventories.each do |inventory| %>
      <% if highlight?(inventory) %>
        <tr data-link="<%= inventory_path(inventory) %>" class="info">
      <% else %>
        <tr data-link="<%= inventory_path(inventory) %>">
      <% end %>
        <td><%= inventory.sku %></td>
        <td><%= inventory.amount %></td>
        <td><%= inventory.holdings_total_amount %></td>
        <td><%= inventory.available_amount %></td>
      </tr>
    <% end %>
  <% end %>
</tbody>
</table>

