<%- model_class = Inventory -%>
<div class="page-header">
  <h3><%= t '.title', sku: @inventory.sku, default: model_class.model_name.human %></h3>
</div>

<div class="form-horizontal">
  <div class="control-group">
    <div class='control-label'><%= model_class.human_attribute_name(:amount) %>:</div>
    <div class="controls">
      <span><%= @inventory.amount %></span>
    </div>
  </div>
  <div class="control-group">
    <div class='control-label'><%= model_class.human_attribute_name(:available_amount) %>:</div>
    <div class="controls">
      <span><%= @inventory.available_amount %></span>
    </div>
  </div>
  <div class="control-group">
    <div class='control-label'><%= model_class.human_attribute_name(:holdings_total_amount) %>:</div>
    <div class="controls">
      <span><%= @inventory.holdings_total_amount %></span>
    </div>
  </div>
  <% unless @inventory.holdings.empty? %>
      <div class="control-group">
        <div class="controls">
          <table class="table table-condensed">
            <thead>
            <tr>
              <th><%= InventoryHolding.human_attribute_name(:user) %></th>
              <th><%= InventoryHolding.human_attribute_name(:amount) %></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
              <% @inventory.holdings.each do |holding| %>
                <tr>
                  <td><%= holding.user %></td>
                  <td><%= holding.amount %></td>
                  <td>
                    <%= link_to 'Вернуть на склад', new_release_inventory_path(inventory_id: @inventory.id, worker_id: holding.user.id ), class: 'btn btn-small' %>
                    <%= link_to 'Списать', new_write_off_inventory_path(inventory_id: @inventory.id, worker_id: holding.user.id ), class: 'btn btn-small' %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>

        </div>
      </div>
  <% end %>

  <div class="form-actions">
    <%= link_to t('helpers.links.index'), inventories_path(session[:index_params]), class: 'btn' %>
  </div>
</div>
