<%= form_for @vehicle_model, html: { class: 'form-horizontal' } do |f| %>
  <%= f.error_messages %>
  <div class="control-group">
    <%= f.label :title, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, class: 'text_field' %>
    </div>
  </div>
    <div class="control-group">
      <%= f.label :section_count, class: 'control-label' %>
      <div class="controls">
        <%= f.number_field :section_count, in: VehicleModel::SECTION_COUNT_RANGE, class: 'number_field' %>
      </div>
    </div>

  <div class="control-group">
    <%= f.label :description, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, class: 'text_area' %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit t('helpers.links.ok'), class: 'btn btn-primary' %>
    <%= link_to t('helpers.links.cancel'), @vehicle_model, class: 'btn' %>
  </div>
<% end %>
