<%- model_class = VehicleModel -%>
<div class="page-header">
  <h3><%= t '.title', default: model_class.model_name.human(count: 2) %></h3>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name('title') %></th>
      <th><%= model_class.human_attribute_name('section_count') %></th>
      <th><%= model_class.human_attribute_name('description') %></th>
    </tr>
  </thead>
  <tbody>
    <% @vehicle_models.each do |vehicle_model| %>
      <tr data-link="<%= vehicle_model_path(vehicle_model) %>">
        <td><%= vehicle_model.title %></td>
        <td><%= vehicle_model.section_count %></td>
        <td><%= vehicle_model.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to t('helpers.links.new'), new_vehicle_model_path, class: 'btn btn-primary' %>
