<%- model_class = VehicleModel -%>
<div class="page-header">
  <h3><%= t '.title', default: model_class.model_name.human.titleize %></h3>
</div>

<div id="vehicle_model" class="form-horizontal">

  <div class="control-group">
    <div class="control-label"><%= model_class.human_attribute_name('title') %>:</div>
    <div class="controls">
      <span><%= @vehicle_model.title %></span>
    </div>
  </div>

  <div class="control-group">
    <div class="control-label"><%= model_class.human_attribute_name('section_count') %>:</div>
    <div class="controls">
      <span><%= @vehicle_model.section_count %></span>
    </div>
  </div>

  <div class="control-group">
    <div class="control-label"><%= model_class.human_attribute_name('description') %>:</div>
    <div class="controls">
      <span><%= @vehicle_model.description %></span>
    </div>
  </div>

  <div class="form-actions">
    <%= link_to t('helpers.links.index'), vehicle_models_path, class: 'btn' %>
    <%= link_to t('helpers.links.edit'), edit_vehicle_model_path(@vehicle_model), class: 'btn' %>
    <%= link_to t('helpers.links.destroy'), vehicle_model_path(@vehicle_model),
                method: 'delete',
                data: {confirm: t('helpers.confirmations.destroy', default: 'Are you sure?')},
                class: 'btn btn-danger' %>
  </div>
</div>


