<%= form_for @inventory_operation, html: {class: 'form-horizontal'} do |f| %>
    <%= f.error_messages %>

    <% if params[:add_items] %>
        <%= render 'shared/picker',
                   title: t('activerecord.models.sku', count: 2),
                   items: Sku.joins(:model).order('inventory_models.title'),
                   f: f  %>
    <% end %>

    <div class="control-group">
      <%= f.label :number, class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :number, class: 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :warehouse_id, class: 'control-label' %>
      <div class="controls">
        <%= f.select :warehouse_id, options_from_collection_for_select(Warehouse.order(:title), :id, :title, @inventory_operation.warehouse_id),
                     {include_blank: true, class: 'select_field'} %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :registration_time, class: 'control-label' %>
      <div class="controls">
        <%= f.datetime_select :registration_time, {}, class: 'datetime_select' %>
      </div>
    </div>

    <% if @inventory_operation.respond_to? :worker %>
      <div class="control-group">
        <%= f.label :worker_id, class: 'control-label' %>
        <div class="controls">
          <%= f.select :worker_id, options_from_collection_for_select(workers, :id, :title, @inventory_operation.worker_id), {include_blank: true, class: 'select_field'}  %>
        </div>
      </div>
    <% end %>

    <% if @inventory_operation.respond_to? :vehicle %>
        <div class="control-group vehicle-picker">
          <%= f.label :vehicle_id, class: 'control-label' %>
          <div class="controls">
            <%= text_field_tag 'vehicle', @inventory_operation.vehicle, {placeholder: 'Введите номер'} %>
            <%= f.hidden_field :vehicle_id %>
            <%= link_to new_vehicle_path, class: 'btn' do %>
                <i class="icon-plus-sign"></i>
            <% end %>
          </div>
        </div>
    <% end %>

    <div class="control-group">
      <%= f.label :items, class: 'control-label' %>
      <div class="controls">
        <%= render 'inventory_operations/operation_items_form', f: f %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :description, class: 'control-label' %>
      <div class="controls">
        <%= f.text_area :description, class: 'text_area' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit t('helpers.links.ok'), class: 'btn btn-primary', name: :ok %>
      <%= link_to t('helpers.links.cancel'),
                  @inventory_operation.new_record? ?
                    inventory_operations_path(params: session[:index_params]) : @inventory_operation,
                  class: 'btn cancel' %>
    </div>
<% end %>
