<table class="table table-condensed">
  <thead>
  <tr>
    <th><%= OperationItem.human_attribute_name('sku')  %></th>
    <th><%= OperationItem.human_attribute_name('amount') %></th>
  </tr>
  </thead>
  <tbody>
    <%= render(partial: 'inventory_operations/operation_item', collection: @inventory_operation.valid_items) || render('shared/empty', colspan: 2)  %>
  </tbody>
</table>