    <%= f.select :vehicle_id, options_from_collection_for_select(Vehicle.joins(:model).order('vehicle_models.title, number, section_index'), :id, :title, @inventory_operation.vehicle_id), {include_blank: true, class: 'select_field'}  %>
