<%- model_class = InventoryOperation -%>
<div class="page-header">
  <h3><%= t '.title', default: model_class.model_name.human(count: 2) %></h3>
</div>

<%= form_tag inventory_operations_path, method: 'get', class: 'form-inline' do %>
  <%= Warehouse.model_name.human %>:
  <%= select_tag :warehouse_id,
                 options_from_collection_for_select(Warehouse.order(:title), :id, :title, (@warehouse.id if @warehouse)),
                 {include_blank: true} %>
  &nbsp;
  <%= t('activerecord.attributes.inventory_operation.type') %>:
  <%= select_tag :type,
                 options_for_select(inventory_operation_type_options, inventory_operation_type_selected_option(@type)),
                 {include_blank: true, class: 'input-medium'} %>
  &nbsp;
  <%= t('helpers.period.label') %>
  <%= t('helpers.period.first') %>
  <%= text_field_tag :date_from, @date_from, class: 'input-medium', type: 'date' %>
  <%= t('helpers.period.last') %>
  <%= text_field_tag :date_to, @date_to, class: 'input-medium', type: 'date' %>
  &nbsp;
  <button class='btn'>
    <i class='icon-search'></i>
    <%= t('helpers.search.label') %>
  </button>
<% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= sortable(:number, model_class.human_attribute_name('number')) %></th>
      <th><%= sortable(:type, model_class.human_attribute_name('type')) %></th>
      <th><%= sortable(:registration_time, model_class.human_attribute_name('registration_time')) %></th>
      <th><%= model_class.human_attribute_name('worker_id') %></th>
      <th><%= model_class.human_attribute_name('vehicle_id') %></th>
      <th><%= model_class.human_attribute_name('posted') %></th>
    </tr>
  </thead>
  <tbody style="overflow-y: auto; height: 10px">
    <% @inventory_operations.each do |inventory_operation| %>
      <tr data-link="<%= inventory_operation_path(inventory_operation) %>">
        <td><%= inventory_operation.number %></td>
        <td><%= inventory_operation.class.model_name.human %></td>
        <td><%= l inventory_operation.registration_time, format: :long %></td>
        <td><%= inventory_operation.worker if inventory_operation.respond_to?(:worker) %></td>
        <td><%= inventory_operation.vehicle if inventory_operation.respond_to?(:vehicle) %></td>
        <td><%= render 'shared/yes_no', value: inventory_operation.posted %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @inventory_operations, show_always: true %>

<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    <%= t('.new')%> <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><%= link_to ReceiveInventory.model_name.human, new_receive_inventory_path(warehouse_id: (@warehouse.id if @warehouse)) %></li>
    <li><%= link_to WriteOffInventory.model_name.human, new_write_off_inventory_path(warehouse_id: (@warehouse.id if @warehouse)) %></li>
    <li class="divider"></li>
    <li><%= link_to TakeInventory.model_name.human, new_take_inventory_path(warehouse_id: (@warehouse.id if @warehouse)) %></li>
    <li><%= link_to ReleaseInventory.model_name.human, new_release_inventory_path(warehouse_id: (@warehouse.id if @warehouse)) %></li>
  </ul>
</div>
