<div class="page-header">
  <h3><%= @inventory_operation.to_s %></h3>
</div>

<div class="form-horizontal">
  <div class="control-group">
    <div class="control-label"><%= @inventory_operation.class.human_attribute_name 'warehouse_id' %></div>
    <div class="controls">
      <span><%= @inventory_operation.warehouse %></span>
    </div>
  </div>


  <% if @inventory_operation.respond_to? :vehicle %>
      <div class="control-group">
        <div class="control-label"><%= @inventory_operation.class.human_attribute_name 'vehicle_id' %></div>
        <div class="controls">
          <span><%= @inventory_operation.vehicle %></span>
        </div>
      </div>
  <% end %>


  <% if @inventory_operation.respond_to? :worker %>
      <div class="control-group">
        <div class="control-label"><%= @inventory_operation.class.human_attribute_name 'worker_id' %></div>
        <div class="controls">
          <span><%= @inventory_operation.worker %></span>
        </div>
      </div>
  <% end %>

  <div class="control-group">
    <div class="control-label"><%= @inventory_operation.class.human_attribute_name 'items' %></div>
    <div class="controls">
      <%= render 'inventory_operations/operation_items' %>
    </div>
  </div>

    <div class="control-group">
      <% if @inventory_operation.can_apply? %>
          <div class="controls">
            <%= link_to apply_inventory_operation_path(@inventory_operation), {
                    method: 'post',
                    data: { confirm: t('.apply_confirmation') },
                    class: 'btn'} do %>
                <%= t('.apply') %>
            <% end %>
          </div>
      <% else %>
          <div class="control-label"><%= @inventory_operation.class.human_attribute_name 'posted' %></div>
          <div class="controls">
            <%= render('shared/yes_no', value: @inventory_operation.posted) %>
          </div>
      <% end %>
    </div>

  <div class="form-actions">
    <%= link_to t('helpers.links.index'), inventory_operations_path(params: session[:index_params]), class: 'btn'  %>
    <% unless @inventory_operation.posted? %>
      <%= link_to t('helpers.links.edit'), edit_inventory_operation_path(@inventory_operation), class: 'btn' %>
      <%= link_to t('helpers.links.destroy'), inventory_operation_path(@inventory_operation),
          method: 'delete',
          data: { confirm: t('helpers.confirmations.destroy', default: 'Are you sure?') },
          class: 'btn btn-danger' %>
    <% end %>
  </div>
</div>


