<%= form_for @inventory_order, html: { class: 'form-horizontal' } do |f| %>
  <%= f.error_messages %>

  <% if params[:add_items] %>
    <%= render 'shared/picker', title: 'Единицы учёта', items: Sku.joins(:model).order('inventory_models.title'), f: f  %>
  <% end %>

  <div class="control-group">
    <%= f.label :warehouse_id, class: 'control-label' %>
    <div class="controls">
      <%= f.select :warehouse_id,
                   options_from_collection_for_select(Warehouse.order(:title), :id, :title, @inventory_order.warehouse_id),
                   {include_blank: true, class: 'select_field'} %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :number, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :number, class: 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :items, class: 'control-label' %>
    <div class="controls">
      <%= render 'inventory_orders/order_items_form', f: f %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit t('helpers.links.ok'), class: 'btn btn-primary' %>
    <%= link_to t('helpers.links.cancel'), :back, class: 'btn' %>
  </div>
<% end %>
