<table class="table table-condensed">
    <thead>
      <tr>
        <% model_class= OrderItem %>
        <th><%= model_class.human_attribute_name :sku_id  %></th>
        <th><%= model_class.human_attribute_name :amount %></th>
        <th></th>
      </tr>
    </thead>
    <% if f.object.items.empty? %>
        <%= render 'shared/empty', colspan: 3 %>
    <% end %>
    <%= f.fields_for :items, f.object.items do |builder| %>
        <%= render 'inventory_orders/order_item_form', f: builder %>
    <% end %>
</table>
<div id="add-items">
  <%= f.button raw("<i class=""icon-plus-sign""></i>"), name: :add_items, class: 'btn' %>
</div>
