<%- class_name = OrderItem -%>
<table class="table table-condensed">
  <thead>
  <tr>
    <th><%= class_name.human_attribute_name :sku_id  %></th>
    <th><%= class_name.human_attribute_name :amount %></th>
  </tr>
  </thead>
  <tbody>
    <%= render(partial: 'inventory_orders/order_item', collection: @inventory_order.items) || render('shared/empty', colspan: 2)  %>
  </tbody>
</table>