<%- model_class = InventoryOrder -%>
<div class="page-header">
  <h3><%= t '.title', default: model_class.model_name.human(count: 2) %></h3>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:warehouse_id) %></th>
      <th><%= sortable :number, model_class.human_attribute_name(:number) %></th>
      <th><%= sortable :created_at, model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @inventory_orders.each do |inventory_order| %>
      <tr data-link="<%= inventory_order_path(inventory_order) %>">
        <td><%= inventory_order.warehouse %></td>
        <td><%= inventory_order.number %></td>
        <td><%= l inventory_order.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @inventory_orders -%>
<%= link_to t('helpers.links.new'), new_inventory_order_path, class: 'btn btn-primary' %>
