<?xml version="1.0"?>
<?mso-application progid="Excel.Sheet"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <DocumentProperties xmlns="urn:schemas-microsoft-com:office:office">
    <Author><%= current_user %>
    </Author>
    <LastAuthor><%= current_user %>
    </LastAuthor>
    <LastPrinted></LastPrinted>
    <Created><%= Time.now %>
    </Created>
    <LastSaved><%= Time.now %>
    </LastSaved>
    <Version>12.00</Version>
  </DocumentProperties>
  <ExcelWorkbook xmlns="urn:schemas-microsoft-com:office:excel">
    <WindowHeight>6540</WindowHeight>
    <WindowWidth>11340</WindowWidth>
    <WindowTopX>360</WindowTopX>
    <WindowTopY>15</WindowTopY>
    <RefModeR1C1/>
    <ProtectStructure>False</ProtectStructure>
    <ProtectWindows>False</ProtectWindows>
  </ExcelWorkbook>
  <Styles>
    <Style ss:ID="Default" ss:Name="Normal">
      <Alignment ss:Vertical="Bottom"/>
      <Borders/>
      <Font ss:FontName="Arial Cyr" x:CharSet="204"/>
      <Interior/>
      <NumberFormat/>
      <Protection/>
    </Style>
    <Style ss:ID="s62" ss:Name="Гиперссылка">
      <Font ss:FontName="Arial Cyr" x:CharSet="204" ss:Color="#0000FF"
            ss:Underline="Single"/>
    </Style>
    <Style ss:ID="m71545280">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="Arial" x:Family="Swiss" ss:Size="7" ss:Color="#000000"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="m71545300">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="Arial" x:Family="Swiss" ss:Size="7" ss:Color="#000000"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="m71545056">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
      <Borders>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="Arial" x:Family="Swiss" ss:Size="7" ss:Color="#000000"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="m71545076">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="2"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="2"/>
      </Borders>
      <Font ss:FontName="Arial" x:Family="Swiss" ss:Size="7" ss:Color="#000000"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="m71545156">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="Arial" x:Family="Swiss" ss:Size="7" ss:Color="#000000"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="m71545176">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="Arial" x:Family="Swiss" ss:Size="7" ss:Color="#000000"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="m71545196">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="Arial" x:Family="Swiss" ss:Size="7" ss:Color="#000000"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="m71545216">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="Arial" x:Family="Swiss" ss:Size="7" ss:Color="#000000"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="m71545236">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="Arial" x:Family="Swiss" ss:Size="7" ss:Color="#000000"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="m71544832">
      <Alignment ss:Horizontal="Center" ss:Vertical="Top" ss:WrapText="1"/>
      <Borders>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="Arial" x:Family="Swiss" ss:Size="8" ss:Color="#000000"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="m71544852">
      <Alignment ss:Horizontal="Center" ss:Vertical="Top" ss:WrapText="1"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="2"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="2"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="2"/>
      </Borders>
      <Font ss:FontName="Arial" x:Family="Swiss" ss:Size="8" ss:Color="#000000"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="m71544892">
      <Alignment ss:Horizontal="Center" ss:Vertical="Top" ss:WrapText="1"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="2"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="2"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="2"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="Arial" x:Family="Swiss" ss:Size="8" ss:Color="#000000"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="m71544952">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="Arial" x:Family="Swiss" ss:Size="7" ss:Color="#000000"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="m71544972">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="Arial" x:Family="Swiss" ss:Size="7" ss:Color="#000000"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="m71544992">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="Arial" x:Family="Swiss" ss:Size="7" ss:Color="#000000"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="m71546400">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="Arial" x:Family="Swiss" ss:Size="7" ss:Color="#000000"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="m71546176">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="Arial" x:Family="Swiss" ss:Size="7" ss:Color="#000000"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="m71546196">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="Arial" x:Family="Swiss" ss:Size="7" ss:Color="#000000"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="m71546216">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="Arial" x:Family="Swiss" ss:Size="7" ss:Color="#000000"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="m71546236">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="Arial" x:Family="Swiss" ss:Size="7" ss:Color="#000000"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="m71546256">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="Arial" x:Family="Swiss" ss:Size="7" ss:Color="#000000"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="m71546276">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="Arial" x:Family="Swiss" ss:Size="7" ss:Color="#000000"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s63">
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s64">
      <Font ss:FontName="Arial Cyr" x:CharSet="204" x:Family="Swiss" ss:Size="8"
            ss:Color="#0000FF" ss:Bold="1" ss:Italic="1"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s65">
      <Alignment ss:Horizontal="Right" ss:Vertical="Bottom"/>
      <Font ss:FontName="Arial Cyr" x:CharSet="204" x:Family="Swiss" ss:Size="8"
            ss:Bold="1"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s67" ss:Parent="s62">
      <Alignment ss:Horizontal="Right" ss:Vertical="Bottom"/>
      <Font ss:FontName="Arial Cyr" x:CharSet="204" x:Family="Swiss" ss:Size="8"
            ss:Color="#0000FF" ss:Bold="1" ss:Underline="Single"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
      <Protection/>
    </Style>
    <Style ss:ID="s68">
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s69">
      <Alignment ss:Horizontal="Right" ss:Vertical="Bottom"/>
      <Font ss:FontName="Arial" x:Family="Swiss" ss:Size="7"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s70">
      <Font ss:FontName="Arial Cyr" x:CharSet="204" ss:Size="8"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s71">
      <Alignment ss:Horizontal="Right" ss:Vertical="Bottom"/>
      <Font ss:FontName="Times New Roman Cyr" x:CharSet="204" x:Family="Roman"
            ss:Size="12" ss:Color="#000000" ss:Bold="1" ss:Italic="1"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s72">
      <Alignment ss:Horizontal="Center" ss:Vertical="Bottom"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="Times New Roman Cyr" x:CharSet="204" x:Family="Roman"
            ss:Size="12" ss:Bold="1"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s79">
      <Alignment ss:Horizontal="Right" ss:Vertical="Bottom"/>
      <Font ss:FontName="Arial" x:Family="Swiss" ss:Size="8" ss:Color="#000000"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s85">
      <Font ss:FontName="Arial" x:Family="Swiss" ss:Color="#000000"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s86">
      <Borders/>
      <Font ss:FontName="Arial Cyr" x:CharSet="204" ss:Size="8"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s88">
      <Alignment ss:Horizontal="Center" ss:Vertical="Bottom"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="Arial Cyr" x:CharSet="204" ss:Size="8"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s96">
      <Borders/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s97">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
      <Borders>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="Arial" x:Family="Swiss" ss:Size="7" ss:Color="#000000"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s104">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="Arial" x:Family="Swiss" ss:Size="7" ss:Color="#000000"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s109">
      <Alignment ss:Horizontal="Center" ss:Vertical="Top" ss:WrapText="1"/>
      <Borders/>
      <Font ss:FontName="Arial" x:Family="Swiss" ss:Size="7" ss:Color="#000000"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s111">
      <Alignment ss:Horizontal="Center" ss:Vertical="Top" ss:WrapText="1"/>
      <Borders/>
      <Font ss:FontName="Arial" x:Family="Swiss" ss:Size="8" ss:Color="#000000"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s112">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="2"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="2"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="2"/>
      </Borders>
      <Font ss:FontName="Arial" x:Family="Swiss" ss:Size="7" ss:Color="#000000"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
      <NumberFormat ss:Format="Short Date"/>
    </Style>
    <Style ss:ID="s113">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="2"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="2"/>
      </Borders>
      <Font ss:FontName="Arial Cyr" x:CharSet="204" ss:Size="7"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s114">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="2"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="2"/>
      </Borders>
      <Font ss:FontName="Arial" x:Family="Swiss" ss:Size="7" ss:Color="#000000"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s118">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="2"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="2"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="2"/>
      </Borders>
      <Font ss:FontName="Arial Cyr" x:CharSet="204" ss:Size="7"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s119">
      <Alignment ss:Horizontal="Right" ss:Vertical="Bottom"/>
      <Font ss:FontName="Arial" x:Family="Swiss"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s121">
      <Alignment ss:Horizontal="Center" ss:Vertical="Bottom"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s124">
      <Alignment ss:Horizontal="Center" ss:Vertical="Bottom"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s126">
      <Alignment ss:Horizontal="Center" ss:Vertical="Bottom"/>
      <Font ss:FontName="Arial" x:Family="Swiss"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s127">
      <Alignment ss:Vertical="Center"/>
      <Font ss:FontName="Arial Cyr" x:CharSet="204" ss:Size="8"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s129">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="2"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="2"/>
      </Borders>
      <Font ss:FontName="Arial" x:Family="Swiss" ss:Size="7" ss:Color="#000000"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s130">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="2"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="2"/>
      </Borders>
      <Font ss:FontName="Arial" x:Family="Swiss" ss:Size="7" ss:Color="#000000"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s131">
      <Alignment ss:Horizontal="Left" ss:Vertical="Center" ss:WrapText="1"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="Arial" x:Family="Swiss" ss:Size="7" ss:Color="#000000"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s132">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="Arial" x:Family="Swiss" ss:Size="7" ss:Color="#000000"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s133">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="Arial" x:Family="Swiss" ss:Size="7" ss:Color="#000000"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s134">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="2"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="2"/>
      </Borders>
      <Font ss:FontName="Arial" x:Family="Swiss" ss:Size="7" ss:Color="#000000"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
      <NumberFormat ss:Format="Fixed"/>
    </Style>
    <Style ss:ID="s135">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="2"/>
      </Borders>
      <Font ss:FontName="Arial" x:Family="Swiss" ss:Size="7" ss:Color="#000000"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s136">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="2"/>
      </Borders>
      <Font ss:FontName="Arial" x:Family="Swiss" ss:Size="7" ss:Color="#000000"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
      <NumberFormat ss:Format="Fixed"/>
    </Style>
    <Style ss:ID="s137">
      <Alignment ss:Vertical="Center"/>
      <Font ss:FontName="Arial Cyr" x:CharSet="204" ss:Size="8"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
      <NumberFormat ss:Format="Fixed"/>
    </Style>
    <Style ss:ID="s143">
      <Alignment ss:Horizontal="Right" ss:Vertical="Bottom"/>
      <Font ss:FontName="Arial" x:Family="Swiss" ss:Size="8"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s144">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="2"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="2"/>
      </Borders>
      <Font ss:FontName="Arial Cyr" x:CharSet="204" x:Family="Swiss" ss:Size="8"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s145">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="2"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="2"/>
      </Borders>
      <Font ss:FontName="Arial Cyr" x:CharSet="204" x:Family="Swiss" ss:Size="8"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s146">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="Arial Cyr" x:CharSet="204" x:Family="Swiss" ss:Size="8"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s147">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="Arial Cyr" x:CharSet="204" x:Family="Swiss" ss:Size="8"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s148">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="Arial Cyr" x:CharSet="204" x:Family="Swiss" ss:Size="8"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s149">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="2"/>
      </Borders>
      <Font ss:FontName="Arial Cyr" x:CharSet="204" x:Family="Swiss" ss:Size="8"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s150">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="2"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="Arial Cyr" x:CharSet="204" x:Family="Swiss" ss:Size="8"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s151">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="2"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="Arial Cyr" x:CharSet="204" x:Family="Swiss" ss:Size="8"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s152">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="Arial Cyr" x:CharSet="204" x:Family="Swiss" ss:Size="8"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s153">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="2"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="2"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="Arial Cyr" x:CharSet="204" x:Family="Swiss" ss:Size="8"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s154">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="2"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="2"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="Arial Cyr" x:CharSet="204" x:Family="Swiss" ss:Size="8"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s155">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="2"/>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="Arial Cyr" x:CharSet="204" x:Family="Swiss" ss:Size="8"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s157">
      <Alignment ss:Vertical="Top"/>
      <Font ss:FontName="Arial" x:Family="Swiss" ss:Size="7"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s159">
      <Alignment ss:Horizontal="Center" ss:Vertical="Top"/>
      <Borders>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
      <Font ss:FontName="Arial" x:Family="Swiss" ss:Size="7"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s160">
      <Alignment ss:Vertical="Top"/>
      <Font ss:FontName="Arial" x:Family="Swiss" ss:Size="7"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
    <Style ss:ID="s161">
      <Font ss:FontName="Arial Cyr" x:CharSet="204" x:Family="Swiss" ss:Size="1"/>
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
    </Style>
  </Styles>
  <Worksheet ss:Name="Лист1">
    <Names>
      <NamedRange ss:Name="Print_Area" ss:RefersTo="=Лист1!R2C2:R31C12"/>
    </Names>
    <Table ss:ExpandedColumnCount="13" ss:ExpandedRowCount="33" x:FullColumns="1"
           x:FullRows="1" ss:StyleID="s63">
      <Column ss:StyleID="s63" ss:AutoFitWidth="0" ss:Width="46.5"/>
      <Column ss:StyleID="s63" ss:AutoFitWidth="0" ss:Width="39.75"/>
      <Column ss:StyleID="s63" ss:AutoFitWidth="0" ss:Width="45.75"/>
      <Column ss:StyleID="s63" ss:AutoFitWidth="0" ss:Width="79.5"/>
      <Column ss:StyleID="s63" ss:AutoFitWidth="0" ss:Width="38.25"/>
      <Column ss:StyleID="s63" ss:AutoFitWidth="0" ss:Width="27"/>
      <Column ss:StyleID="s63" ss:AutoFitWidth="0" ss:Width="49.5"/>
      <Column ss:StyleID="s63" ss:AutoFitWidth="0" ss:Width="53.25"/>
      <Column ss:StyleID="s63" ss:AutoFitWidth="0" ss:Width="49.5"/>
      <Column ss:StyleID="s63" ss:AutoFitWidth="0" ss:Width="45"/>
      <Column ss:StyleID="s63" ss:AutoFitWidth="0" ss:Width="41.25"/>
      <Column ss:StyleID="s63" ss:AutoFitWidth="0" ss:Width="43.5"/>
      <Row ss:AutoFitHeight="0" ss:Height="18.75">
        <Cell ss:Index="2" ss:StyleID="s64"/>
        <Cell ss:Index="11" ss:StyleID="s65"/>
        <Cell ss:StyleID="s67"/>
      </Row>
      <Row>
        <Cell ss:Index="2" ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s69">
          <Data ss:Type="String">Типовая межотраслевая форма № М –11</Data>
          <NamedCell
                  ss:Name="Print_Area"/>
        </Cell>
      </Row>
      <Row>
        <Cell ss:Index="2" ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s69">
          <Data ss:Type="String">Утверждена постановлением Госкомстата России</Data>
          <NamedCell
                  ss:Name="Print_Area"/>
        </Cell>
      </Row>
      <Row>
        <Cell ss:Index="2" ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s69">
          <Data ss:Type="String">от 30.10.97 № 71а</Data>
          <NamedCell
                  ss:Name="Print_Area"/>
        </Cell>
      </Row>
      <Row>
        <Cell ss:Index="2" ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
      </Row>
      <Row ss:AutoFitHeight="0" ss:Height="16.5">
        <Cell ss:Index="2" ss:StyleID="s70">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s70">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s70">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s70">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s71">
          <Data ss:Type="String">ТРЕБОВАНИЕ-НАКЛАДНАЯ №</Data>
          <NamedCell
                  ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s72">
          <Data ss:Type="Number"><%= @inventory_order.number %></Data>
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s70">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s70">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:MergeAcross="1" ss:StyleID="m71544832">
          <Data ss:Type="String">Коды</Data>
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
      </Row>
      <Row>
        <Cell ss:Index="2" ss:StyleID="s70">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s70">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s70">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s70">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s70">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s70">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s70">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s70">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s79">
          <Data ss:Type="String">Форма по ОКУД</Data>
          <NamedCell
                  ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:MergeAcross="1" ss:StyleID="m71544852">
          <Data ss:Type="Number">315006</Data>
          <NamedCell
                  ss:Name="Print_Area"/>
        </Cell>
      </Row>
      <Row ss:AutoFitHeight="0" ss:Height="15">
        <Cell ss:Index="2" ss:StyleID="s85">
          <Data ss:Type="String">Организация</Data>
          <NamedCell
                  ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s86">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:MergeAcross="5" ss:StyleID="s88">
          <NamedCell
                  ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s79">
          <Data ss:Type="String">по ОКПО</Data>
          <NamedCell
                  ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:MergeAcross="1" ss:StyleID="m71544892">
          <Data ss:Type="Number">1050076</Data>
          <NamedCell
                  ss:Name="Print_Area"/>
        </Cell>
      </Row>
      <Row>
        <Cell ss:Index="2" ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
      </Row>
      <Row ss:AutoFitHeight="0" ss:Height="25.5">
        <Cell ss:Index="2" ss:StyleID="s96">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:MergeDown="1" ss:StyleID="s97">
          <Data ss:Type="String">Дата составления</Data>
          <NamedCell
                  ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:MergeDown="1" ss:StyleID="s97">
          <Data ss:Type="String">Код вида операции</Data>
          <NamedCell
                  ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:MergeAcross="2" ss:StyleID="m71544952">
          <Data ss:Type="String">Отправитель</Data>
          <NamedCell
                  ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:MergeAcross="1" ss:StyleID="m71544972">
          <Data ss:Type="String">Получатель</Data>
          <NamedCell
                  ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:MergeAcross="1" ss:StyleID="m71544992">
          <Data ss:Type="String">Корреспондирующий счет</Data>
          <NamedCell
                  ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:MergeDown="1" ss:StyleID="s97">
          <Data ss:Type="String">Учетная единица выпуска продукции (работ, услуг)</Data>
          <NamedCell
                  ss:Name="Print_Area"/>
        </Cell>
      </Row>
      <Row ss:AutoFitHeight="0" ss:Height="37.5">
        <Cell ss:Index="2" ss:StyleID="s109">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:Index="5" ss:MergeAcross="1" ss:StyleID="m71545056">
          <Data
                  ss:Type="String">структурное подразделение
          </Data>
          <NamedCell
                  ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s97">
          <Data ss:Type="String">вид деятельности</Data>
          <NamedCell
                  ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s97">
          <Data ss:Type="String">структурное подразделение</Data>
          <NamedCell
                  ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s97">
          <Data ss:Type="String">вид деятельности</Data>
          <NamedCell
                  ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s97">
          <Data ss:Type="String">счет, субсчет</Data>
          <NamedCell
                  ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s97">
          <Data ss:Type="String">код аналитичес-кого учета</Data>
          <NamedCell
                  ss:Name="Print_Area"/>
        </Cell>
      </Row>
      <Row ss:AutoFitHeight="0" ss:Height="13.5">
        <Cell ss:Index="2" ss:StyleID="s111">
          <NamedCell
                  ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s112">
          <NamedCell
                  ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s113">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:MergeAcross="1" ss:StyleID="m71545076">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s114">
          <NamedCell
                  ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s114">
          <Data ss:Type="String"><%= @inventory_order.warehouse %></Data>
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s114">
          <Data ss:Type="String"></Data>
          <NamedCell
                  ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s114">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s114">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s118">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
      </Row>
      <Row ss:AutoFitHeight="0" ss:Height="21">
        <Cell ss:Index="2" ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s119">
          <Data ss:Type="String">Через кого</Data>
          <NamedCell
                  ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:MergeAcross="8" ss:StyleID="s121">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
      </Row>
      <Row ss:AutoFitHeight="0" ss:Height="18.75">
        <Cell ss:Index="2" ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s119">
          <Data ss:Type="String">Затребовал</Data>
          <NamedCell
                  ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:MergeAcross="2" ss:StyleID="s124">
          <NamedCell
                  ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s126">
          <Data ss:Type="String">Разрешил</Data>
          <NamedCell
                  ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:MergeAcross="4" ss:StyleID="s124">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
      </Row>
      <Row>
        <Cell ss:Index="2" ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
      </Row>
      <Row ss:AutoFitHeight="0" ss:Height="26.25" ss:StyleID="s127">
        <Cell ss:Index="2" ss:MergeAcross="1" ss:StyleID="m71545156">
          <Data
                  ss:Type="String">Корреспондирующий счет
          </Data>
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:MergeAcross="1" ss:StyleID="m71545176">
          <Data ss:Type="String">Материальные ценности</Data>
          <NamedCell
                  ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:MergeAcross="1" ss:StyleID="m71545196">
          <Data ss:Type="String">Единица измерения</Data>
          <NamedCell
                  ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:MergeAcross="1" ss:StyleID="m71545216">
          <Data ss:Type="String">Количество</Data>
          <NamedCell
                  ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:MergeDown="1" ss:StyleID="m71545236">
          <Data ss:Type="String">Цена, руб. коп.</Data>
          <NamedCell
                  ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:MergeDown="1" ss:StyleID="m71545280">
          <Data ss:Type="String">Сумма без учета НДС, руб. коп.</Data>
          <NamedCell
                  ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:MergeDown="1" ss:StyleID="m71545300">
          <Data ss:Type="String">Порядковый номер по складской картотеке</Data>
          <NamedCell
                  ss:Name="Print_Area"/>
        </Cell>
      </Row>
      <Row ss:AutoFitHeight="0" ss:Height="40.5" ss:StyleID="s127">
        <Cell ss:Index="2" ss:StyleID="s104">
          <Data ss:Type="String">счет, субсчет</Data>
          <NamedCell
                  ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s104">
          <Data ss:Type="String">код аналити-ческого учета</Data>
          <NamedCell
                  ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s104">
          <Data ss:Type="String">наименование</Data>
          <NamedCell
                  ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s104">
          <Data ss:Type="String">номенкла-турный номер</Data>
          <NamedCell
                  ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s104">
          <Data ss:Type="String">код</Data>
          <NamedCell
                  ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s104">
          <Data ss:Type="String">наименова-ние</Data>
          <NamedCell
                  ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s104">
          <Data ss:Type="String">затребовано</Data>
          <NamedCell
                  ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s104">
          <Data ss:Type="String">отпущено</Data>
          <NamedCell
                  ss:Name="Print_Area"/>
        </Cell>
      </Row>
      <Row ss:AutoFitHeight="0" ss:Height="14.25" ss:StyleID="s127">
        <Cell ss:Index="2" ss:StyleID="s97">
          <Data ss:Type="Number">1</Data>
          <NamedCell
                  ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s97">
          <Data ss:Type="Number">2</Data>
          <NamedCell
                  ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s97">
          <Data ss:Type="Number">3</Data>
          <NamedCell
                  ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s97">
          <Data ss:Type="Number">4</Data>
          <NamedCell
                  ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s97">
          <Data ss:Type="Number">5</Data>
          <NamedCell
                  ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s97">
          <Data ss:Type="Number">6</Data>
          <NamedCell
                  ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s97">
          <Data ss:Type="Number">7</Data>
          <NamedCell
                  ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s97">
          <Data ss:Type="Number">8</Data>
          <NamedCell
                  ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s97">
          <Data ss:Type="Number">9</Data>
          <NamedCell
                  ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s97">
          <Data ss:Type="Number">10</Data>
          <NamedCell
                  ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s97">
          <Data ss:Type="Number">11</Data>
          <NamedCell
                  ss:Name="Print_Area"/>
        </Cell>
      </Row>
      <% @inventory_order.items.each_with_index do |order_item, index| %>
      <Row ss:AutoFitHeight="0" ss:Height="14.25" ss:StyleID="s127">
        <Cell ss:Index="2" ss:StyleID="s<%= index == 0 ? '129' : '150' %>">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s<%= index == 0 ? '130' : '151' %>">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s131">
          <Data ss:Type="String"><%= order_item.sku.model %></Data>
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s<%= index == 0 ? '129' : '150' %>">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s<%= index == 0 ? '130' : '151' %>">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s132">
          <Data ss:Type="String"><%= order_item.sku.uom %></Data>
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s133">
          <Data ss:Type="Number"><%= order_item.amount %></Data>
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s<%= index == 0 ? '134' : '150' %>">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s<%= index == 0 ? '135' : '152' %>">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s<%= index == 0 ? '136' : '152' %>">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s<%= index == 0 ? '130' : '151' %>">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s137"/>
      </Row>
      <% end %>
      <Row>
        <Cell ss:Index="2" ss:StyleID="s150">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s151">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s146">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s150">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s151">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s147">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s148">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s150">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s152">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s152">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s151">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
      </Row>
      <Row>
        <Cell ss:Index="2" ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s119">
          <Data ss:Type="String">Отпустил</Data>
          <NamedCell
                  ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:MergeAcross="1" ss:StyleID="s121">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:MergeAcross="1" ss:StyleID="s121">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:MergeAcross="2" ss:StyleID="s121">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
      </Row>
      <Row>
        <Cell ss:Index="2" ss:StyleID="s157">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s157">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:MergeAcross="1" ss:StyleID="s159">
          <Data ss:Type="String">(должность)</Data>
          <NamedCell
                  ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s157">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:MergeAcross="1" ss:StyleID="s159">
          <Data ss:Type="String">(подпись)</Data>
          <NamedCell
                  ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s157">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:MergeAcross="2" ss:StyleID="s159">
          <Data ss:Type="String">(расшифровка подписи)</Data>
          <NamedCell
                  ss:Name="Print_Area"/>
        </Cell>
      </Row>
      <Row>
        <Cell ss:Index="2" ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s119">
          <Data ss:Type="String">Получил</Data>
          <NamedCell
                  ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:MergeAcross="1" ss:StyleID="s121">
          <NamedCell
                  ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:MergeAcross="1" ss:StyleID="s121">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:MergeAcross="2" ss:StyleID="s121">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
      </Row>
      <Row>
        <Cell ss:Index="2" ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:MergeAcross="1" ss:StyleID="s159">
          <Data ss:Type="String">(должность)</Data>
          <NamedCell
                  ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s157">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:MergeAcross="1" ss:StyleID="s159">
          <Data ss:Type="String">(подпись)</Data>
          <NamedCell
                  ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s157">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:MergeAcross="2" ss:StyleID="s159">
          <Data ss:Type="String">(расшифровка подписи)</Data>
          <NamedCell
                  ss:Name="Print_Area"/>
        </Cell>
      </Row>
      <Row>
        <Cell ss:Index="2" ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
        <Cell ss:StyleID="s68">
          <NamedCell ss:Name="Print_Area"/>
        </Cell>
      </Row>
      <Row ss:Index="33" ss:AutoFitHeight="0" ss:Height="13.5"/>
    </Table>
    <WorksheetOptions xmlns="urn:schemas-microsoft-com:office:excel">
      <PageSetup>
        <Header x:Margin="0.36"/>
        <Footer x:Margin="0.51"/>
        <PageMargins x:Bottom="0.56000000000000005" x:Left="0.34" x:Right="0.3"
                     x:Top="0.43"/>
      </PageSetup>
      <Print>
        <ValidPrinterInfo/>
        <PaperSizeIndex>9</PaperSizeIndex>
        <HorizontalResolution>360</HorizontalResolution>
        <VerticalResolution>360</VerticalResolution>
      </Print>
      <ShowPageBreakZoom/>
      <Zoom>130</Zoom>
      <PageBreakZoom>115</PageBreakZoom>
      <Selected/>
      <DoNotDisplayHeadings/>
      <TopRowVisible>3</TopRowVisible>
      <Panes>
        <Pane>
          <Number>3</Number>
          <ActiveRow>19</ActiveRow>
          <ActiveCol>14</ActiveCol>
        </Pane>
      </Panes>
      <ProtectObjects>False</ProtectObjects>
      <ProtectScenarios>False</ProtectScenarios>
    </WorksheetOptions>
  </Worksheet>
</Workbook>
