<%- model_class = InventoryOrder -%>
<div class="page-header">
  <h3><%= t '.title', default: model_class.model_name.human %></h3>
</div>

<div id="inventory_order" class="form-horizontal">

  <div class="control-group">
    <div class="control-label"><%= model_class.human_attribute_name :warehouse_id %>:</div>
    <div class="controls">
      <%= @inventory_order.warehouse %>
    </div>
  </div>

  <div class="control-group">
    <div class="control-label"><%= model_class.human_attribute_name :number %>:</div>
    <div class="controls">
      <%= @inventory_order.number %>
    </div>
  </div>

  <div class="control-group">
    <div class="control-label"><%= model_class.human_attribute_name :created_at %>:</div>
    <div class="controls">
      <%= l @inventory_order.created_at %>
    </div>
  </div>

  <div class="control-group">
    <div class="control-label"><%= model_class.human_attribute_name :items %>:</div>
    <div class="controls">
      <%= render 'inventory_orders/order_items' %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= link_to m11_inventory_order_path(@inventory_order, format: 'xml'), class: 'btn' do %>
          <i class="icon-file"></i>
          <%= t('.m11') %>
      <% end %>
      <%= link_to t('.receive'), receive_inventory_order_path(@inventory_order), class: 'btn' %>
    </div>
  </div>

  <div class="form-actions">
    <%= link_to t('helpers.links.index'), inventory_orders_path(params: session[:index_params]), class: 'btn' %>
    <%= link_to t('helpers.links.edit'), edit_inventory_order_path(@inventory_order), class: 'btn' %>
    <%= link_to t('helpers.links.destroy'), inventory_order_path(@inventory_order),
                method: 'delete',
                data: {confirm: t('helpers.confirmations.destroy', default: 'Are you sure?')},
                class: 'btn btn-danger' %>
  </div>
</div>


