<%= form_for @group, html: {class: 'form-horizontal'} do |f| %>
  <%= f.error_messages %>

  <% if params[:add_users] %>
    <%= render 'shared/picker', title: t('shared.picker.pick_users'), items: @users, f: f  %>
  <% end %>

  <div class="control-group">
    <%= f.label :title, "#{t('helpers.attrs.title')}:", class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, class: 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, "#{t('helpers.attrs.description')}:", class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, class: 'text_area' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :users, "#{t('helpers.attrs.users')}:", class: 'control-label' %>
    <div class="controls">
      <%= render 'groups/memberships_form', f: f %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit t('helpers.links.ok'), name: :ok, class: 'btn btn-primary' %>
    <%= link_to t('helpers.links.cancel'), @group, class: 'btn' %>
  </div>
<% end %>
