<div id="memberships">
  <table class="table table-condensed">
    <% if @group.active_memberships.empty? %>
        <%= render 'shared/empty' %>
    <% end %>
    <%= f.fields_for :memberships, @group.memberships do |builder| %>
        <%= render 'groups/membership_form', f: builder %>
    <% end %>
  </table>
</div>
<div id="add-users">
  <%= f.button raw("<i class=""icon-plus""></i> <i class=""icon-user""></i>"), name: :add_users, class: 'btn' %>
</div>
