<div id="memberships">
  <table class="table table-condensed">
    <tbody>
      <%= render(partial: 'groups/membership', collection: @group.active_memberships) || render('shared/empty')  %>
    </tbody>
  </table>
</div>
