<div class="page-header">
  <h3><%=t '.title' %></h3>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t('helpers.attrs.title') %></th>
      <th><%= t('helpers.attrs.description') %></th>
    </tr>
  </thead>
  <tbody>
    <% @groups.each do |group| %>
      <tr data-link="<%= group_path(group) %>">
        <td><%= group.title %></td>
        <td><%= group.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('helpers.links.new'), new_group_path, class: 'btn btn-primary' %>
