<div class="page-header">
  <h3><%=t '.title' %></h3>
</div>

<div class='form-horizontal'>
  <div class="control-group">
    <div class="control-label"><%= t('helpers.attrs.title') %>:</div>
    <div class="controls">
      <span><%= @group.title %></span>
    </div>
  </div>

  <div class="control-group">
    <div class="control-label"><%= t('helpers.attrs.description') %>:</div>
    <div class="controls">
      <span><%= @group.title %></span>
    </div>
  </div>

  <div class="control-group">
    <div class="control-label"><%= t('helpers.attrs.users') %>:</div>
    <div class="controls">
      <%= render 'groups/memberships' %>
    </div>
  </div>
  <div class="form-actions">
    <%= link_to t('helpers.links.index'), groups_path, class: 'btn' %>
    <%= link_to t('helpers.links.edit'), edit_group_path(@group), class: 'btn' %>
    <%= link_to t('helpers.links.destroy'),
                group_path(@group),
                method: :delete,
                data: {confirm: t('helpers.confirmations.destroy')},
                class: 'btn btn-danger' %>
  </div>
</div>
