<%= form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_messages %>

  <% if params[:add_groups] %>
    <%= render 'shared/picker', title: t('shared.picker.pick_groups'), items: @groups, f: f  %>
  <% end %>

  <div class="control-group">
    <%= f.label :login, "#{t('users.attrs.login')}:", class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :login %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :password, "#{t('users.attrs.password')}:", class: 'control-label' %>
    <div class="controls">
      <%= f.password_field :password %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :password_confirmation, "#{t('users.attrs.password_confirmation')}:", class: 'control-label' %>
    <div class="controls">
      <%= f.password_field :password_confirmation %>
    </div>
  </div>

  <hr />

  <div class="control-group">
    <%= f.label :name, "#{t('users.attrs.name')}:", class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :number, "#{t('users.attrs.number')}:", class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :number %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :button_id, "#{t('users.attrs.button_id')}:", class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :button_id %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :groups, "#{t('users.attrs.groups')}:", class: 'control-label' %>
    <div class="controls">
      <%= render 'users/group_memberships_form', f: f %>
    </div>
  </div>


  <div class="form-actions">
    <%= f.submit t('helpers.links.ok'), name: :ok, class: 'btn btn-primary' %>
    <%= link_to t('helpers.links.cancel'), :back, class: 'btn' %>
  </div>
<% end %>
