<div id="group-memberships">
  <table class="table table-condensed">
    <tbody>
        <%= render(partial: 'users/group_membership', collection: @user.active_group_memberships) || render('shared/empty')  %>
    </tbody>
  </table>
</div>