<% if f.object.marked_for_destruction? %>
    <% unless f.object.new_record? %>
        <%= f.hidden_field :_destroy, value: true %>
    <% end %>
<% else %>
    <tr class="destroyable well">
      <td>
        <%= f.hidden_field :group_id %>
        <%= f.object.group.title %>
        <%= f.hidden_field :_destroy %>
        <%= f.button raw('&times;'), class: 'close mark-for-destruction' %>
      </td>
    </tr>
<% end %>