<div id="group-memberships">
  <table class="table table-condensed">
    <% if @user.active_group_memberships.empty? %>
        <%= render 'shared/empty' %>
    <% end %>
    <%= f.fields_for :group_memberships, @user.group_memberships do |builder| %>
        <%= render 'users/group_membership_form', f: builder %>
    <% end %>
  </table>
</div>
<div id="add-groups">
  <%= f.button raw("<i class=""icon-plus""></i> <i class=""icon-group""></i>"), name: :add_groups, class: 'btn' %>
</div>
