<%- model_class = User -%>
<div class="page-header">
  <h3><%=t '.title', :default => model_class.model_name.human.pluralize %></h3>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th><%= sortable(:name, t('users.attrs.name')) %></th>
      <th><%= sortable(:login, t('users.attrs.login')) %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr data-link="<%= user_path(user) %>">
        <td><%= user.name %></td>
        <td><%= user.login %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @users -%>
<%= link_to t('helpers.links.new'),  new_user_path, class: 'btn btn-primary' %>
<%= link_to t("helpers.links.import"), new_user_upload_path, class: 'btn' %>

