<div class="page-header">
  <h3><%=t '.title' %></h3>
</div>
<div class="form-horizontal">

  <div class="control-group">
    <div class="control-label"><%= t('users.attrs.login') %>:</div>
    <div class="controls">
      <span><%= @user.login %></span>
    </div>
  </div>

  <div class="control-group">
    <div class="control-label"><%= t('users.attrs.name') %>:</div>
    <div class="controls">
      <span><%= @user.name %></span>
    </div>
  </div>
  <div class="control-group">
    <div class="control-label"><%= t('users.attrs.number') %>:</div>
    <div class="controls">
      <span><%= @user.number %></span>
    </div>
  </div>

  <div class="control-group">
    <div class="control-label"><%= t('users.attrs.button_id') %>:</div>
    <div class="controls">
      <span><%= @user.button_id %></span>
    </div>
  </div>

  <div class="control-group">
    <div class="control-label"><%= t('users.attrs.groups') %>:</div>
    <div class="controls">
      <%= render partial: 'group_memberships' %>
    </div>
  </div>

  <div class="form-actions">
    <%= link_to t('helpers.links.index'), users_path(params: session[:index_params]), class: 'btn' %>

    <%= link_to t('helpers.links.edit'), edit_user_path(@user), class: 'btn' %>

    <%= link_to t('helpers.links.destroy'),
                user_path(@user),
                method: :delete,
                data: {confirm: t('helpers.confirmations.destroy')},
                class: 'btn btn-danger' %>
  </div>
</div>

