<% if target.errors.any? %>
  <div class="alert alert-error">
    <strong><%= pluralize(target.errors.count, "error") %> prohibited this record from being saved:</strong>
    <ul>
      <% target.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>