<div class="modal hide fade">
  <div class="modal-header">
    <%= button_tag raw('&times;'), class:'close', 'data-dismiss' => 'modal', 'aria-hidden' => true %>
    <h5><%= t '.title' %></h5>
  </div>
  <div class="modal-body">
    <%= 'Поиск' %>:
    <%= text_field_tag :search_text, params[:search_text] %>
    <%= button_tag raw("<i class='icon-search'></i>"), class: 'btn', name: 'search' %>
    <p></p>
    <table class="table table-condensed">
      <thead>
        <th></th>
        <th><%= t 'inventory_articles.attrs.number' %></th>
        <th><%= t 'inventory_articles.attrs.title' %></th>
        <th><%= t 'inventory_articles.attrs.barcode' %></th>
      </thead>
      <tbody>
        <% if avail_inventory_articles.blank? %>
          <tr>
            <td colspan="4">
              <div class="text-center"><%= t 'helpers.collections.empty' %></div>
            </td>
          </tr>
        <% else %>
            <% avail_inventory_articles.each do |inventory_article| %>
              <tr>
                <td><%= check_box_tag 'inventory_article_ids[]', inventory_article.id %></td>
                <td><%= inventory_article.number %></td>
                <td><%= inventory_article.title %></td>
                <td></td>
              </tr>
            <% end %>
        <% end %>
      </tbody>
    </table>

  </div>
  <div class="modal-footer">
    <%= button_tag t('helpers.links.ok'), name: 'add_ok', class: 'btn btn-primary' %>
    <%= button_tag t('helpers.links.cancel'), class:'btn', 'data-dismiss' => 'modal', 'area-hidden' => true %>
  </div>
</div>