<table class="table">
  <thead>
  <tr>
    <th><%= t('helpers.row_number') %></th>
    <th><%= t('.attrs.title') %></th>
    <th><%= t('.attrs.amount') %></th>
  </tr>
  </thead>
  <tbody>
  <% if items.blank? %>
      <%= render 'shared/empty', colspan: 3 %>
  <% else %>
      <% items.each_with_index do |item, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= item.title %></td>
            <td><%= item.value %></td>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>