<div class="modal hide fade">
  <div class="modal-header">
    <%= button_tag raw('&times;'), class:'close', 'data-dismiss' => 'modal', 'aria-hidden' => true %>
    <strong>
      <%= title %>
    </strong>
  </div>
  <div class="modal-body">

      <table class="table table-striped">
        <tbody>
        <% if items.empty? %>
            <%= render('shared/empty') %>
        <% else %>
            <% items.each do |item| %>
                <tr>
                  <td>
                    <%= check_box_tag "#{item.class.to_s.underscore}_ids[]", item.id %>
                    &nbsp;
                    <%= item.to_s %>
                  </td>
                </tr>
            <% end %>
        <% end %>
        </tbody>
      </table>

  </div>
  <div class="modal-footer">
    <%= f.button t('helpers.links.ok'), name: :add_ok, class: 'btn btn-primary' %>
    <%= f.button t('helpers.links.cancel'), class:'btn', 'data-dismiss' => 'modal', 'area-hidden' => true %>
  </div>
</div>