<span class="yes-no">
    <% if value %>
      <div class="badge badge-success">
        <i class="icon-ok"></i>
      </div>
    <% else %>
      <div class="badge badge-info">
        <i class="icon-minus"></i>
      </div>
    <% end %>
</span>