<div class="row">
  <div class="span5 widget-box">
    <div class="widget-title">
      <h5>Расход годных</h5>
    </div>
    <div class="widget-content">
      <table class="table">
        <thead>
        <th>Сотрудник</th>
        <th>Единица учёта</th>
        <th>Кол-во к списанию</th>
        </thead>
        <tbody>
        <%= render 'shared/empty', colspan:'3' %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="span5 widget-box">
    <div class="widget-title">
      <h5>Поступление неисправных</h5>
    </div>
    <div class="widget-content">
      <table class="table">
        <thead>
        <th>Сотрудник</th>
        <th>Единица учёта</th>
        <th>Кол-во к приёмке</th>
        </thead>
        <tbody>
        <%= render 'shared/empty', colspan:'3' %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row">
  <div class="span5 widget-box">
    <div class="widget-title">
      <h5>Дефицит</h5>
    </div>
    <div class="widget-content">
      <table class="table">
        <thead>
        <th>Единица учёта</th>
        <th>Кол-во</th>
        </thead>
        <tbody>
        <%= render 'shared/empty', colspan:'2' %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="span5 widget-box">
    <div class="widget-title">
      <h5>Объём заказов</h5>
    </div>
    <div class="widget-content">
      <table class="table">
        <thead>
        <th>Единица учёта</th>
        <th>Кол-во</th>
        <th>Поставщик</th>
        </thead>
        <tbody>
        <%= render 'shared/empty', colspan:'3' %>
        </tbody>
      </table>
    </div>
  </div>

</div>