<%%= form_for @<%= resource_name %>, html: { class: 'form-horizontal' } do |f| %>
  <%%= f.error_messages %>
  <%- columns.each do |column| -%>
  <div class="control-group">
    <%%= f.label :<%= column.name %>, class: 'control-label' %>
    <div class="controls">
      <%%= f.<%= column.field_type %> :<%= column.name %>, class: '<%= column.field_type %>' %>
    </div>
  </div>
  <%- end -%>
  <div class="form-actions">
    <%%= f.submit t('helpers.links.ok'), class: 'btn btn-primary' %>
    <%%= link_to t('helpers.links.cancel'), :back, class: 'btn' %>
  </div>
<%% end %>
