<%%- model_class = <%= resource_name.classify %> -%>
<div class="page-header">
  <h3><%%= t '.title', default: model_class.model_name.human(count: 2) %></h3>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <%- columns.each do |column| -%>
      <th><%%= model_class.human_attribute_name('<%= column.name %>') %></th>
      <%- end -%>
    </tr>
  </thead>
  <tbody>
    <%% @<%= plural_resource_name %>.each do |<%= resource_name %>| %>
      <tr data-link="<%%= <%= singular_controller_routing_path %>_path(<%= resource_name %>) %>">
        <%- columns.each do |column| -%>
        <td><%%= <%= resource_name %>.<%= column.name %> %></td>
        <%- end -%>
      </tr>
    <%% end %>
  </tbody>
</table>
<%%= link_to t('helpers.links.new'), new_<%= singular_controller_routing_path %>_path, class: 'btn btn-primary' %>
