<%%- model_class = <%= resource_name.classify %> -%>
<div class="page-header">
  <h3><%%= t '.title', default: '%{model}', model: model_class.model_name.human.titleize %></h3>
  <p class="muted"><%%= t('helpers.titles.new') %></p>
</div>
<%%= render partial: 'form' %>

