<%%- model_class = <%= resource_name.classify %> -%>
<div class="page-header">
  <h3><%%=t '.title', default: model_class.model_name.human.titleize %></h3>
</div>

<div id="<%= resource_name %>" class="form-horizontal">
  <%- columns.each do |column| -%>
      <div class="control-group">
        <div class="control-label"><%%= model_class.human_attribute_name('<%= column.name %>') %>:</div>
        <div class="controls">
          <span><%%= @<%= resource_name %>.<%= column.name %> %></span>
        </div>
      </div>
  <%- end -%>

  <div class="form-actions">
    <%%= link_to t('helpers.links.index'), <%= controller_routing_path %>_path, class: 'btn'  %>
    <%%= link_to t('helpers.links.edit'), edit_<%= singular_controller_routing_path %>_path(@<%= resource_name %>), class: 'btn' %>
    <%%= link_to t('helpers.links.destroy'), <%= singular_controller_routing_path %>_path(@<%= resource_name %>),
        method: 'delete',
        data: { confirm: t('helpers.confirmations.destroy', default: 'Are you sure?') },
        class: 'btn btn-danger' %>
  </div>
</div>


