<%= form_for @sku, html: {class: 'form-horizontal'} do |f| %>
  <%= f.error_messages %>
  <div class="control-group">
    <%= f.label :model, class: 'control-label' %>
    <div class="controls">
      <%= f.select :model_id,
                   options_from_collection_for_select(avail_models, :id, :title, @sku.model_id),
                   { include_blank: true, class: 'select_field'} %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :uom, class: 'control-label' %>
    <div class="controls">
      <%= f.select :uom_id,
                   options_from_collection_for_select(avail_measuring_units, :id, :title, @sku.uom_id),
                   { include_blank: true, class: 'select_field'} %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :barcode, class: 'control-label' %>
    <div class="controls">

      <%= f.fields_for :barcode, @sku.barcode do |builder| %>
          <%= builder.hidden_field :id %>
          <%= builder.hidden_field :type %>
          <%= builder.text_field :value, class: 'text_field' %>
      <% end %>

      <%= f.button raw('<i class="icon-barcode"></i>'), class: 'btn', name: :build_barcode %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit t('helpers.links.ok'), class: 'btn btn-primary', name: :ok %>
    <%= link_to t('helpers.links.cancel'), :back, class: 'btn' %>
  </div>
<% end %>
