<tr data-link="<%= sku_path(sku) %>">
  <td><%= sku.model %></td>
  <td><%= sku.uom %></td>
  <td>
    <%= sku.barcode %>
    <% if sku.barcode %>
      <%= link_to print_barcode_path(sku.barcode.value.chop), class: 'btn btn-mini' do %>
        <i class="icon-print"></i>
      <% end %>
    <% end %>
  </td>
</tr>

