<%- model_class = Sku -%>
<div class="page-header">
  <h3><%= t '.title', default: model_class.model_name.human(count: 2) %></h3>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th><%= sortable 'inventory_models.title', model_class.human_attribute_name(:model) %></th>
      <th><%= sortable 'measuring_units.title', model_class.human_attribute_name(:uom) %></th>
      <th><%= sortable 'barcodes.value', model_class.human_attribute_name(:barcode) %></th>
    </tr>
  </thead>
  <tbody>
    <%= render(partial: 'sku', collection: @skus) || render('shared/empty', colspan: 4) %>
  </tbody>
</table>
<%= will_paginate @skus -%>
<%= link_to t('helpers.links.new'), new_sku_path, class: 'btn btn-primary' %>
