<%- model_class = Sku -%>
<div class="page-header">
  <h3><%= t '.title', default: model_class.model_name.human %></h3>
  <p class="muted"><%= t('helpers.notices.new') %></p>
</div>
<%= render partial: 'form' %>
