<%- model_class = Sku -%>
<div class="page-header">
  <h3><%= t '.title', default: model_class.model_name.human %></h3>
</div>
<div class="sku form-horizontal">
  <div class="control-group">
    <div class=" control-label"><%= model_class.human_attribute_name(:model) %></div>
    <div class="controls"><span><%= @sku.model %></span></div>
  </div>
  <div class="control-group">
    <div class=" control-label"><%= model_class.human_attribute_name(:uom) %></div>
    <div class="controls"><span><%= @sku.uom %></span></div>
  </div>
    <div class="control-group">
      <div class=" control-label"><%= model_class.human_attribute_name(:barcode) %></div>
      <div class="controls">
        <span><%= @sku.barcode %></span>
        <% if @sku.barcode %>
          <%= link_to print_barcode_path(@sku.barcode.value.chop), class: 'btn' do %>
            <i class="icon-print"></i>
          <% end %>
        <% end %>
      </div>

    </div>

  <div class="form-actions">
    <%= link_to t('helpers.links.index'), skus_path(params: session[:index_params]), class: 'btn' %>
    <%= link_to t('helpers.links.edit'), edit_sku_path(@sku), class: 'btn' %>
    <%= link_to t('helpers.links.destroy'),
                sku_path(@sku),
                method: 'delete',
                data: {confirm: t('helpers.confirmations.destroy')},
                class: 'btn btn-danger' %>
  </div>

 </div>

