<td>
<% if account.kind_of? User  %>
    <i class="icon-user"></i>
<% else %>
    <% if account.kind_of? Group %>
        <i class="icon-group"></i>
    <% end %>
<% end %>
</td>
<td>
    <%= account %>
</td>