<%= form_for @storage, html: {class: 'form-horizontal'} do |f| %>

  <% if params[:add_users] %>
    <%= render 'shared/picker', title: t('shared.picker.pick_users'), items: @users, f: f  %>
  <% end %>

  <% if params[:add_groups] %>
      <%= render 'shared/picker', title: t('shared.picker.pick_groups'), items: @groups, f: f  %>
  <% end %>

  <%= f.error_messages %>


    <div class="control-group">
      <%= f.label :warehouse_id, class: 'control-label' %>
      <div class="controls">
        <%= f.select :warehouse_id, options_from_collection_for_select(Warehouse.order(:title), :id, :title, @storage.warehouse_id),
                     {include_blank: true, class: 'select_field'} %>
      </div>
    </div>

  <div class="control-group">
    <%= f.label :order_num, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :order_num, class: 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :title,  class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, class: 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :description, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, class: 'text_area' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :permissions, class: 'control-label' %>
    <div class="controls">
      <%= render 'storages/permissions_form', f: f %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit t('helpers.links.ok'), class: 'btn btn-primary' %>
    <%= link_to t('helpers.links.cancel'), :back, class: 'btn' %>
  </div>
<% end %>
