<div id="permissions">
  <table class="table table-condensed">
    <tbody>
      <% if @storage.active_permissions.empty? %>
        <%= render 'shared/empty', colspan: 3 %>
      <% end %>
      <%= f.fields_for :permissions, @storage.permissions do |builder| %>
        <%= render 'storages/permission_form', f: builder %>
      <% end %>
    </tbody>
  </table>
</div>
<div id="add-permissions">
  <%= f.button raw("<i class=""icon-plus""></i> <i class=""icon-user""></i>"), name: :add_users, class: 'btn' %>
  <%= f.button raw("<i class=""icon-plus""></i> <i class=""icon-group""></i>"), name: :add_groups, class: 'btn' %>
</div>
