<% if f.object.marked_for_destruction? %>
    <% unless f.object.new_record? %>
        <%= f.hidden_field :_destroy, value: true %>
    <% end %>
<% else %>
    <tr class="destroyable well">
      <%= render partial: 'account', object: f.object.subject %>
      <td>
        <%= f.hidden_field :subject_id %>
        <%= f.hidden_field :subject_type %>
        <%= f.hidden_field :_destroy %>
          <%= f.button raw('&times;'), class: 'close mark-for-destruction' %>
      </td>
    </tr>
<% end %>