<div style="width: 350px">
  <table id="permissions" class="table table-condensed">
    <tbody>
      <%= render(partial: 'storages/permission', collection: @storage.permissions) || render('shared/empty', colspan: 2)  %>
    </tbody>
  </table>
</div>