<%- model_class = Storage -%>
<div class="page-header">
  <h3><%=t '.title', default: model_class.model_name.human(count: 2) %></h3>
</div>

<table class="table table-hover">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:warehouse_id) %></th>
    <th><%= sortable :order_num, model_class.human_attribute_name(:order_num) %></th>
    <th><%= sortable :title, model_class.human_attribute_name(:title) %></th>
    <th><%= model_class.human_attribute_name(:description) %></th>
  </tr>
  </thead>
  <tbody>
    <%= render(@storages) || render('shared/empty', colspan: 3) %>
  </tbody>
</table>
<%= will_paginate @storages -%>
<%= link_to t('helpers.links.new'), new_storage_path, class: 'btn btn-primary' %>

