<%- model_class = Storage -%>

<div class="page-header">
  <h3><%=t '.title', default: model_class.model_name.human %></h3>
</div>

<div class='form-horizontal'>
  <div class="control-group">
    <div class="control-label"><%= model_class.human_attribute_name :warehouse_id %>:</div>
    <div class="controls">
      <span><%= @storage.warehouse %></span>
    </div>
  </div>

  <div class="control-group">
    <div class="control-label"><%= model_class.human_attribute_name :order_num %>:</div>
    <div class="controls">
      <span><%= @storage.order_num %></span>
    </div>
  </div>

  <div class="control-group">
    <div class="control-label"><%= model_class.human_attribute_name :title %>:</div>
    <div class="controls">
      <span><%= @storage.title %></span>
    </div>
  </div>

  <div class="control-group">
    <div class="control-label"><%= model_class.human_attribute_name :description %>:</div>
    <div class="controls">
      <span><%= @storage.description %></span>
    </div>
  </div>

  <div class="control-group">
    <div class="control-label"><%= model_class.human_attribute_name :permissions %>:</div>
    <div class="controls">
      <%= render partial: 'permissions' %>
    </div>
  </div>

  <div class="form-actions">
    <%= link_to t('helpers.links.index'), storages_path(params: session[:index_params]), class: 'btn' %>
    <%= link_to t('helpers.links.edit'), edit_storage_path(@storage), class: 'btn' %>
    <%= link_to t('helpers.links.destroy'),
                storage_path(@storage),
                method: :delete,
                data: {confirm: t('helpers.confirmations.destroy')},
                class: 'btn btn-danger' %>
  </div>
</div>
