<%= form_for @measuring_unit, html: { class: 'form-horizontal' } do |f| %>
  <%= f.error_messages %>
  <div class="control-group">
    <%= f.label :title, "#{t('measuring_units.attrs.title', default: 'Title' )}:", class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, class: 'text_field' %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit t('helpers.links.ok'), class: 'btn btn-primary' %>
    <%= link_to t('helpers.links.cancel'), @measuring_unit, class: 'btn' %>
  </div>
<% end %>
