<table class="table table-hover">
  <thead>
  <tr>
    <th><%= t 'measuring_units.attrs.title' %></th>
  </tr>
  </thead>
  <tbody>
  <% if @measuring_units.blank? %>
      <%= render 'shared/empty', colspan: 1 %>
  <% else %>
      <% @measuring_units.each do |uom| %>
          <%= render partial: 'measuring_unit', object: uom  %>
      <% end %>
  <% end %>
  </tbody>
</table>