<%- model_class = MeasuringUnit -%>
<div class="page-header">
  <h3><%= t '.title', default: model_class.model_name.human.pluralize.titleize %></h3>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t('measuring_units.attrs.title', default: 'Title') %></th>
    </tr>
  </thead>
  <tbody>
    <% @measuring_units.each do |measuring_unit| %>
      <tr data-link="<%= measuring_unit_path(measuring_unit) %>">
        <td><%= measuring_unit.title %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to t('helpers.links.new'), new_measuring_unit_path, class: 'btn btn-primary' %>
