<%- model_class = MeasuringUnit -%>
<div class="page-header">
  <h3><%=t '.title', default: model_class.model_name.human.titleize %></h3>
</div>

<div id="measuring_unit" class="form-horizontal">
      <div class="control-group">
        <div class="control-label"><%= t('measuring_units.attrs.title', default: 'Title') %>:</div>
        <div class="controls">
          <span><%= @measuring_unit.title %></span>
        </div>
      </div>

  <div class="form-actions">
    <%= link_to t('helpers.links.index'), measuring_units_path, class: 'btn'  %>
    <%= link_to t('helpers.links.edit'), edit_measuring_unit_path(@measuring_unit), class: 'btn' %>
    <%= link_to t('helpers.links.destroy'), measuring_unit_path(@measuring_unit),
        method: 'delete',
        data: { confirm: t('helpers.confirmations.destroy', default: 'Are you sure?') },
        class: 'btn btn-danger' %>
  </div>
</div>


