<% content_for :html_head do %>
  <style media="print" type="text/css">

      html, body, body * {
          max-width: 50.8mm;
          max-height: 25.4mm;
          padding: 0 !important;
      }

      body {
          visibility: hidden;
      }

      .print {
          visibility: visible;
          position: absolute;
          left: 0;
          top: 2mm;
          margin: auto;
          width: 100%;
          text-align: center;
      }

  </style>

<% end %>
<% content_for :html_body do %>
  <script>
    jQuery(function() {
      $(window).load(function() {
        window.focus();
        window.print();
        history.back();
      });
    });
  </script>
<% end %>

<div class="print">
  <%= image_tag(draw_barcode_path(format: :svg, id: @barcode.data), id: 'barcode') %>
</div>




