<div id="barcode" class="span">
  <%= image_tag(draw_barcode_path(id: @barcode.data, format: :svg)) %>
</div>

<div class="span">
  <%= link_to print_barcode_path(@barcode.data), class: 'btn' do %>
    <i class="icon-print"></i>
  <% end %>
</div>

