<%= form_for @vehicle, html: {class: 'form-horizontal'} do |f| %>
    <%= f.error_messages %>
    <div class="control-group">
      <%= f.label :model_id, class: 'control-label' %>
      <div class="controls">
        <%= f.select :model_id, options_from_collection_for_select(avail_vehicle_models, :id, :title, @vehicle.model_id),
                     {include_blank: true, class: 'select_field'}, class: 'submit-on-change' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :number, class: 'control-label' %>
      <div class="controls">
        <%= f.number_field :number, in: Vehicle::NUMBER_RANGE, class: 'number_field' %>
      </div>
    </div>

    <% if @vehicle.model %>
        <% if @vehicle.model.multiple_unit? %>
            <div class="control-group">
              <%= f.label :section_index, class: 'control-label' %>
              <div class="controls">
                <%= f.select :section_index, options_from_collection_for_select(@vehicle.model.section_indexes, :index, :letter, @vehicle.section_index),
                             {include_blank: true, class: 'select_field'} %>
              </div>
            </div>
        <% else %>
            <%= f.hidden_field :section_index, value: 0 %>
        <% end %>
    <% end %>

    <div class="form-actions">
      <%= f.submit t('helpers.links.ok'), class: 'btn btn-primary' %>
      <%= link_to t('helpers.links.cancel'), :back, class: 'btn' %>
    </div>
<% end %>
