<%- model_class = Vehicle -%>
<div class="page-header">
  <h3><%= t '.title', default: model_class.model_name.human(count: 2) %></h3>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th><%= sortable 'vehicle_models.title', model_class.human_attribute_name('model_id') %></th>
      <th><%= sortable :number, model_class.human_attribute_name('number') %></th>
      <th><%= sortable :section_index, model_class.human_attribute_name('section_index') %></th>
    </tr>
  </thead>
  <tbody>
    <% @vehicles.each do |vehicle| %>
      <tr data-link="<%= vehicle_path(vehicle) %>">
        <td><%= vehicle.model %></td>
        <td><%= vehicle.number %></td>
        <td><%= vehicle.section %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @vehicles -%>
<%= link_to t('helpers.links.new'), new_vehicle_path, class: 'btn btn-primary' %>
