<%- model_class = Vehicle -%>
<div class="page-header">
  <h3><%= t '.title', default: model_class.model_name.human.titleize %></h3>
</div>

<div id="vehicle" class="form-horizontal">
  <div class="control-group">
    <div class="control-label"><%= model_class.human_attribute_name('model_id') %>:</div>
    <div class="controls">
      <span><%= @vehicle.model %></span>
    </div>
  </div>
  <div class="control-group">
    <div class="control-label"><%= model_class.human_attribute_name('number') %>:</div>
    <div class="controls">
      <span><%= @vehicle.number %></span>
    </div>
  </div>

  <% if @vehicle.model.multiple_unit? %>
      <div class="control-group">
        <div class="control-label"><%= model_class.human_attribute_name('section_index') %>:</div>
        <div class="controls">
          <span><%= @vehicle.section %></span>
        </div>
      </div>
  <% end %>
  <div class="form-actions">
    <%= link_to t('helpers.links.index'), vehicles_path(params: session[:index_params]), class: 'btn' %>
    <%= link_to t('helpers.links.edit'), edit_vehicle_path(@vehicle), class: 'btn' %>
    <%= link_to t('helpers.links.destroy'), vehicle_path(@vehicle),
                method: 'delete',
                data: {confirm: t('helpers.confirmations.destroy', default: 'Are you sure?')},
                class: 'btn btn-danger' %>
  </div>
</div>


