body {
  position: relative;
  padding-top: 60px;
}

input[type="checkbox"] {
  margin: 0px !important;
}

textarea {
  height: 100px;
}

[data-link]
{
  cursor: pointer;
}

section {
  padding-top: 30px;
}

.form-horizontal .controls div {
  padding-top: 5px;
}

div.form-horizontal .controls {
  padding-top: 5px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

//a {
//  color: #000;
//  &:visited {
//  }
//  &:hover {
//    color: #fff;
//    background-color: #000;
//  }
//}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.datetime_select {
  width: 100px;
}

.controls {
  table {
    width: 500px;
    float: left;
    margin-right: 5px;
  }
}


a:hover {
  text-decoration: underline;
}

.table {
  th {
    height: auto;
    font-size: 13px;
    font-weight: bold;

    border-bottom: 0;
    text-align: left;
    vertical-align: middle;

    background-color: #efefef;
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#fdfdfd), to(#eaeaea));
    background-image: -webkit-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -moz-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -ms-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -o-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#eaeaea', GradientType=0); /* IE6-9 */


    a {
      color: #000;
    }

    a:hover {
      text-decoration: none
    }
  }

  td {
    vertical-align: middle;
  }
}

.modal-header {
  padding: 15px;
}

/* Widgets */
.widget-box {
  background: none repeat scroll 0 0 #F9F9F9;
  border-top: 1px solid #CDCDCD;
  border-left: 1px solid #CDCDCD;
  border-right: 1px solid #CDCDCD;
  margin-top: 16px;
  margin-bottom: 16px;
  position: relative;
}

.widget-box.widget-calendar, .widget-box.widget-chat {
  overflow: hidden !important;
}

.accordion .widget-box {
  margin-top: -2px;
  margin-bottom: 0;
  border-radius: 0;
}

.widget-box.widget-plain {
  background: transparent;
  border: none;
  margin-top: 0;
  margin-bottom: 0;
}

.widget-title, div.dataTables_wrapper .ui-widget-header {
  background-color: #efefef;
  background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#fdfdfd), to(#eaeaea));
  background-image: -webkit-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
  background-image: -moz-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
  background-image: -ms-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
  background-image: -o-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
  background-image: -linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#eaeaea', GradientType=0); /* IE6-9 */
  border-bottom: 1px solid #CDCDCD;
  /* height: 36px;*/
}

.widget-title {
  height: 35px;
}

.widget-title .nav-tabs {
  border-bottom: 0 none;
}

.widget-title .nav-tabs li a {
  border-bottom: medium none !important;
  border-left: 1px solid #DDDDDD;
  border-radius: 0 0 0 0;
  border-right: 1px solid #DDDDDD;
  border-top: medium none;
  color: #999999;
  margin: 0;
  outline: medium none;
  padding: 9px 10px 8px;
  font-weight: bold;
  text-shadow: 0 1px 0 #FFFFFF;
}

.widget-title .nav-tabs li:first-child a {
  border-left: medium none !important;
}

.widget-title .nav-tabs li a:hover {
  background-color: transparent !important;
  border-color: #D6D6D6;
  border-width: 0 1px;
  color: #666666;
}

.widget-title .nav-tabs li.active a {
  background-color: #F9F9F9 !important;
  color: #444444;
}

.widget-title span.icon {
  border-right: 1px solid #cdcdcd;
  padding: 9px 10px 7px 11px;
  float: left;
  opacity: .7;
}

.widget-title h5 {
  color: #666666;
  text-shadow: 0 1px 0 #ffffff;
  float: left;
  font-size: 12px;
  font-weight: bold;
  padding: 12px;
  line-height: 12px;
  margin: 0;
}

.widget-title .buttons {
  float: right;
  margin: 8px 10px 0 0;
}

.widget-title .label {
  padding: 3px 5px 2px;
  float: right;
  margin: 9px 15px 0 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset, 0 1px 0 #ffffff;
}

.widget-calendar .widget-title .label {
  margin-right: 190px;
}

.widget-content {
  padding: 12px 15px;
  border-bottom: 1px solid #cdcdcd;
}

.widget-box.widget-plain .widget-content {
  padding: 12px 0 0;
}

.widget-box.collapsible .collapse.in .widget-content {
  border-bottom: 1px solid #CDCDCD;
}

.pagination {
  a { color: #000 }
}



