// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#group-memberships {
  width: 500px;
  float: left;
}

#add-groups {
  float: left;
  margin-left: 3px;
}

