<%= form_for @inventory_reserve, html: {class: 'form-horizontal'} do |f| %>
  <%= f.error_messages %>

  <% if params[:add_items] %>
    <%= render 'shared/picker',
               title: t('activerecord.models.sku', count: 2) ,
               items: Sku.joins(:model).order('inventory_models.title'),
               f: f  %>
  <% end %>

  <div class="control-group">
    <%= f.label :title, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, class: 'text_field' %>
    </div>
  </div>

    <div class="control-group">
      <%= f.label :warehouse_id, class: 'control-label' %>
      <div class="controls">
        <%= f.select :warehouse_id, options_from_collection_for_select(Warehouse.order(:title), :id, :title, @inventory_reserve.warehouse_id),
                     {include_blank: true, class: 'select_field'} %>
      </div>
    </div>


    <div class="control-group">
      <%= f.label :description, class: 'control-label' %>
      <div class="controls">
        <%= f.text_area :description, class: 'text_area' %>
      </div>
    </div>

  <div class="control-group">
    <%= f.label :items, class: 'control-label' %>
    <div class="controls">
      <table class="table table-condensed">
        <thead>
        <tr>
          <% model_class = InventoryReserveItem %>
          <th><%= model_class.human_attribute_name :sku_id %></th>
          <th><%= model_class.human_attribute_name :amount %></th>
          <!--<th><%= model_class.human_attribute_name :reorder_level %></th>-->
          <!--<th><%= model_class.human_attribute_name :reorder_amount %></th>-->
          <th></th>
        </tr>
        </thead>
        <tbody>
          <% if @inventory_reserve.items.empty?  %>
            <%= render 'shared/empty', colspan: 3 %>
          <% end %>
          <%= f.fields_for :items, @inventory_reserve.items do |builder| %>
            <%= render 'item_form', f: builder %>
          <% end %>
        </tbody>
      </table>
      <div id="add-items">
        <%= f.button raw("<i class=""icon-plus-sign""></i>"), name: :add_items, class: 'btn' %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit t('helpers.links.ok'), class: 'btn btn-primary' %>
    <%= link_to t('helpers.links.cancel'), @inventory_reserve, class: 'btn' %>
  </div>
<% end %>
