<% if inventory_reserve_item.warn? %>
    <tr class="error">
<% else %>
    <tr>
<% end %>
  <td><%= inventory_reserve_item.sku %></td>
  <td><%= inventory_reserve_item.amount %></td>
  <!--<td><%= inventory_reserve_item.reorder_level %></td>-->
  <!--<td><%= inventory_reserve_item.reorder_amount %></td>-->
  <td><%= inventory_reserve_item.in_stock_amount %></td>
</tr>