<% if f.object.marked_for_destruction?  %>
    <% unless f.object.new_record? %>
        <%= f.hidden_field :id %>
        <%= f.hidden_field :_destroy, value: 1 %>
    <% end %>
<% else %>
    <tr>
      <td>
          <%= f.hidden_field :id %>
          <%= f.hidden_field :sku_id %>
          <%= f.object.sku %>
      </td>
      <td>
        <%= f.number_field :amount, min: 0, class: 'input-mini' %>
      </td>
      <!--<td>-->
        <!--<%= f.number_field :reorder_level, min: 0, class: 'input-mini' %>-->
      <!--</td>-->
      <!--<td>-->
        <!--<%= f.number_field :reorder_amount, min: 0, class: 'input-mini' %>-->
      <!--</td>-->
      <td>
          <%= f.hidden_field :_destroy %>
          <%= f.button raw('&times;'), class: 'close mark-for-destruction' %>
      </td>
    </tr>
<% end %>