<%- model_class = InventoryReserve -%>
<div class="page-header">
  <h3><%=t '.title', :default => model_class.model_name.human(count: 2) %></h3>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name('title') %></th>
      <th><%= model_class.human_attribute_name('description') %></th>
    </tr>
  </thead>
  <tbody>
    <% @inventory_reserves.each do |inventory_reserve| %>
      <% if inventory_reserve.warn? %>
        <tr data-link="<%= inventory_reserve_path(inventory_reserve) %>" class="error">
      <% else %>
        <tr data-link="<%= inventory_reserve_path(inventory_reserve) %>">
      <% end %>
          <td><%= inventory_reserve.title %></td>
          <td><%= inventory_reserve.description %></td>
        </tr>
    <% end %>
  </tbody>
</table>
<%= link_to t('helpers.links.new'), new_inventory_reserve_path, class: 'btn btn-primary' %>