<%- model_class = InventoryReserve -%>
<div class="page-header">
  <h3><%=t '.title', :default => model_class.model_name.human %></h3>
</div>
<div class="form-horizontal">
  <div class="control-group">
    <div class="control-label"><%= model_class.human_attribute_name :title %>:</div>
    <div class="controls">
      <%= @inventory_reserve.title %>
    </div>
  </div>
  <div class="control-group">
    <div class="control-label"><%= model_class.human_attribute_name :warehouse_id %>:</div>
    <div class="controls">
      <%= @inventory_reserve.warehouse %>
    </div>
  </div>
  <div class="control-group">
    <div class="control-label"><%= model_class.human_attribute_name :description %>:</div>
    <div class="controls">
      <%= @inventory_reserve.description %>
    </div>
  </div>

  <div class="control-group">
    <div class="control-label"><%= model_class.human_attribute_name :items %>:</div>
    <div class="controls">
      <table class="table table-condensed">
        <thead>
        <tr>
          <%- model_class = InventoryReserveItem -%>
          <th><%= model_class.human_attribute_name :sku_id %></th>
          <th><%= model_class.human_attribute_name :amount %></th>
          <th><%= model_class.human_attribute_name :in_stock_amount %></th>
        </tr>
        </thead>
        <tbody>
          <%= render(partial: 'inventory_reserve_item', collection: @inventory_reserve.items) || render('shared/empty', colspan: 4) %>
        </tbody>
      </table>
    </div>
  </div>
  <% if @inventory_reserve.items.any? { |item| item.in_stock_amount <  item.amount } %>
  <div class="control-group">
    <div class="controls">
        <%= link_to t('.create_order'), create_order_inventory_reserve_path(@inventory_reserve), class: 'btn' %>
    </div>
  </div>
  <% end %>

  <div class="form-actions">
    <%= link_to t('helpers.links.index'), inventory_reserves_path, class: 'btn' %>
    <%= link_to t('helpers.links.edit'), edit_inventory_reserve_path(@inventory_reserve), class: 'btn' %>
    <%= link_to t('helpers.links.destroy'),  inventory_reserve_path(@inventory_reserve),
                method: 'delete', data: {confirm: t('helpers.confirmations.destroy')},
                class: 'btn btn-danger' %>
  </div>
</div>