<div class="page-header">
  <h3><%= t('.title') %></h3>
</div>
<%= form_tag user_uploads_path, multipart: true, method: :post, class: 'form form-horizontal' do  %>
    <div class="control-group">
      <div class="control-label"><%= "Файл" %>:</div>
      <div class="controls"><%= file_field_tag 'upload' %></div>
    </div>
    <div class="form-actions">
      <%= submit_tag t('helpers.links.ok'), class: 'btn btn-primary', name: 'ok' %>
      <%= button_tag t('helpers.links.cancel'), class: 'btn', name: 'cancel' %>
    </div>
<% end %>
