<%= form_for @user_session, html: {class: 'form-horizontal'} do |f| %>
  <%= f.error_messages %>
  <div class="control-group">
    <%= f.label :login, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :login %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :password, class: 'control-label' %>
    <div class="controls">
      <%= f.password_field :password %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
        <%= f.button raw("<i class=""icon-signin""></i>&nbsp;#{t('.create')}"), class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
