<div class="widget-box span6 offset3">
  <div class="widget-title">
    <span class="icon">
      <i class="icon-lock"></i>
    </span>
    <h5><%= t '.title' %></h5>
  </div>
  <div class="widget-content">
    <%= render partial: 'form' %>
  </div>
</div>

