<%= form_for @warehouse, html: { class: 'form-horizontal' } do |f| %>
  <%= f.error_messages %>
  <div class="control-group">
    <%= f.label :title, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, class: 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, class: 'text_area' %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit t('helpers.links.ok'), class: 'btn btn-primary' %>
    <%= link_to t('helpers.links.cancel'), @warehouse, class: 'btn' %>
  </div>
<% end %>
