<%- model_class = Warehouse -%>
<div class="page-header">
  <h3><%= t '.title', default: model_class.model_name.human(count: 2) %></h3>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name('title') %></th>
      <th><%= model_class.human_attribute_name('description') %></th>
    </tr>
  </thead>
  <tbody>
      <%= render(partial: 'warehouse', collection: @warehouses) || render('shared/empty', colspan: 2) %>
  </tbody>
</table>
<%= link_to t('helpers.links.new'), new_warehouse_path, class: 'btn btn-primary' %>
