<%- model_class = Warehouse -%>
<div class="page-header">
  <h3><%=t '.title', default: model_class.model_name.human.titleize %></h3>
</div>

<div id="warehouse" class="form-horizontal">
      <div class="control-group">
        <div class="control-label"><%= model_class.human_attribute_name('title') %>:</div>
        <div class="controls">
          <span><%= @warehouse.title %></span>
        </div>
      </div>
      <div class="control-group">
        <div class="control-label"><%= model_class.human_attribute_name('description') %>:</div>
        <div class="controls">
          <span><%= @warehouse.description %></span>
        </div>
      </div>

  <div class="form-actions">
    <%= link_to t('helpers.links.index'), warehouses_path, class: 'btn'  %>
    <%= link_to t('helpers.links.edit'), edit_warehouse_path(@warehouse), class: 'btn' %>
    <%= link_to t('helpers.links.destroy'), warehouse_path(@warehouse),
        method: 'delete',
        data: { confirm: t('helpers.confirmations.destroy', default: 'Are you sure?') },
        class: 'btn btn-danger' %>
  </div>
</div>


