<% if flash[:notice] %>
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= h flash[:notice] %>
    </div>
<% else %>
    <% if flash[:alert] %>
        <div class="alert alert-block">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= h flash[:alert] %>
        </div>
    <% else %>
        <% if flash[:error] %>
            <div class="alert alert-error">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <%= h flash[:error] %>
            </div>
        <% end %>
    <% end %>
<% end %>
