<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
    <% if content_for?(:module_title) %>
        <%= yield :module_title %>
    <% else %>
        <i class="icon-home"></i>
    <% end %>
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li><a href="/"><i class="icon-home"></i></a></li>
  </ul>
</li>
