<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse" >
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'АСУ Склад ПТОЛ', root_path, class: 'brand'%>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <% if current_user %>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-wrench"></i>
              Конфигурация
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Пользователи', users_path %></li>
              <li><%= link_to 'Группы', groups_path %></li>
              <li class="divider"></li>
              <li><%= link_to 'Модели', inventory_models_path %></li>
              <li><%= link_to 'Единицы измерения', measuring_units_path %></li>
              <li><%= link_to 'Единицы учёта', skus_path %></li>
              <li class="divider"></li>
              <li><%= link_to 'Склады', warehouses_path %></li>
              <li><%= link_to 'Места хранения', storages_path %></li>
              <li class="divider"></li>
              <li><%= link_to 'Серии локомотивов', vehicle_models_path %></li>
              <li><%= link_to 'Локомотивы', vehicles_path %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-list"></i>
              Журналы
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Неснижаемые запасы', inventory_reserves_path %></li>
              <li><%= link_to 'Заказы', inventory_orders_path %></li>
              <!--<li><%= link_to 'Процессы', '#' %></li>-->
              <li><%= link_to 'Операции', inventory_operations_path %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-bar-chart"></i>
              Отчёты
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Остатки', inventories_path %></li>
              <li><%= link_to 'Оборот', consumption_reports_path %></li>
            </ul>
          </li>
          <li class="divider-vertical"></li>
          <% end %>
          <%= render 'layouts/user_nav' %>
        </ul>

      </div>
    </div>
  </div>
</div>