<% if current_user %>
    <li class="dropdown">
      <%= link_to '#', class: 'dropdown-toggle', data: {toggle: 'dropdown'} do %>
          <i class='icon-user'></i>&nbsp;<%= current_user %>
          <b class="caret"></b>
      <% end %>
      <ul class="dropdown-menu">
        <li><%= link_to 'Профиль', user_path(current_user) %></li>
        <li class="divider"></li>
        <li>
          <%= link_to logout_path, method: :delete, confirm: t('user_sessions.notices.confirm_delete') do %>
              <i class="icon-signout"></i>
              Выход
          <% end %>
        </li>
      </ul>
    </li>
<% else %>
    <% unless request.path == login_path %>
    <li>
      <%= link_to login_path do %>
          <i class="icon-signin"></i>
          Войти
      <% end %>
    </li>
    <% end %>
<% end %>

