<!DOCTYPE html>
<html>
<head>
  <title>АСУ Склад</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :html_head %>
</head>
<body>
  <%= render 'layouts/navbar' %>
  <div class="container">
    <%= render 'layouts/flashes' %>
 	  <%= yield %> 	
  </div>
  <%= render 'layouts/footer' %>
  <%= yield :html_body %>
</body>
</html>
